@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
}

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px #00000010 solid;
  /* background-color: #e7e9eb; */
  box-shadow: 0px 10px 10px -6px black;
  width: 25%;
  text-align: center;
}


.form {
  width: 100%;
  height: 350px;
}

.form form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.form input {
  height: 27px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  padding-left: 10px; 
  border-bottom: 1px solid #00000036; 
  background-color: #f1f1f1;
}

.form h1 {
  margin-bottom: 30px;
  border-bottom: 2px solid #00000025;
  
}

.inf-register {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
    margin-bottom: 20px;
}

.inf-register a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;

}

button{
    height: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
}

button:hover{
    background-color: #0277bd;
    border: 2px solid #016aa7;
    color: #000;
    
}